 /* =================
      #Theme colors
    ================= */

:root {
    --very-light-grey:  hsl(0, 0%, 98%); /* (Light Mode Background) */
    --white: hsl(0, 0%, 100%); /* (Dark Mode Text & Light Mode Elements) */
    --dark-grey: hsl(0, 0%, 52%); /* (Light Mode Input) */
    --very-dark-blue: hsl(200, 15%, 8%); /* (Light Mode Text) */

    --dark-blue: hsl(209, 23%, 22%); /* (Dark Mode Elements) */
    --very-dark-blue-bg: hsl(207, 26%, 17%); /* (Dark Mode Background) */

    --font-size-m: 0.875rem;
    --font-size-s: 0.75rem;
}

 /* =================
      #Global Style
    ================= */

* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
    background-color: var(--very-light-grey);
}


 /* =================
        #Layout
    ================= */

.hero-container {
    margin: 2.5em 1em;
}

    .hero {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    hr {
        margin-left: -2.5em;
        margin-right: -2.5em;
        border: 0 none;
        height: .1px;
        box-shadow: 2px 2px 5px var(--dark-grey);
    }


.main-content {
    margin: 1.5em 1em;
    
}


 /* =================
        #Typography
    ================= */

.hero-text {
    font-size: var(--font-size-m);
}

    .dark-mode-text {
        font-size: var(--font-size-s);
        font-weight: 600;
    }

.projects-title {
    font-size: var(--font-size-m);
    text-align: center;
    }

/* =================
      #Components
   ================= */ 

label {
    display: flex;
    align-items: center;
}

    label > input{
        opacity: 0;
    }

    .theme-switch {
      width: 1em;
      height: 1em;
      margin-left: -1em;
      margin-right: .5em;
      cursor: pointer;  
    }


.form {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    
}

    .search-field {
        width: 100%;
        height: 3em;
        padding: 2em;
        border: none;
        border-radius: .3em;
        box-shadow: 1px 1px 5px var(--dark-grey);
    }

    .search-field:focus {
        outline: none;
    }

    ::placeholder {
        padding-left: .5em;
    }

    ::-moz-placeholder {
        text-align: left; 
    }

    .search-icon-position {
        position: relative;
    }

    .search-icon-position i {
        position: absolute;
        left: 1em;
        bottom: 1.5em;
        color: var(--dark-grey);
    }
    
    .fa-search {
        font-size: .8rem;
        margin-right: .5em;
    }

    .filter-btn {
        width: 50%;
        height: 3em;
        margin-top: 2.5em;
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 1em 1em;
        border: none;
        border-radius: .3em;
        box-shadow: 1px 1px 5px var(--dark-grey);
        background-color: var(--white);
        cursor: pointer;
    }

    .fa-chevron-down {
        font-size: .8rem;
    }

    .menu {
        width: 50%;
        margin-top: .5em;
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        border-radius: .3em;
        box-shadow: 1px 1px 5px var(--dark-grey);
    }

    .menu span {
     padding: .5em;
     cursor: pointer;
    }

    .menu span:hover {
        background-color: var(--very-light-grey);
    }


.hide {
    display: none;
}


.country-card {
    margin: 1.2em 0 1.2em 1.5em;
    width: 16.5em;
    border-radius: .3em;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    transition: transform .2s;
    background-color: var(--white);
 }

    .country-card:hover {
        transform: scale(1.1);
    }

    .country-card .image {
        display: block;
        height: 10em;
        background-position: 50% 0;
        background-size: cover;
        background-attachment: scroll;
    }
    
    .country-card .country-preview img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .country-card .country-info {
        padding: 1.7em;
        justify-content: space-between;
    }
    
  
    
    .country-card .country-title {
        font-size: var(--font-size-m);
        display: flex;
        align-items: center;
    }

    .country-card .country-info p {
        font-weight: 600;
    }