 /* =================
      #Theme colors
    ================= */

:root {
    --very-light-grey:  hsl(0, 0%, 98%); /* (Light Mode Background) */
    --white: hsl(0, 0%, 100%); /* (Dark Mode Text & Light Mode Elements) */
    --dark-grey: hsl(0, 0%, 52%); /* (Light Mode Input) */
    --very-dark-blue: hsl(200, 15%, 8%); /* (Light Mode Text) */

    --dark-blue: hsl(209, 23%, 22%); /* (Dark Mode Elements) */
    --very-dark-blue-bg: hsl(207, 26%, 17%); /* (Dark Mode Background) */
}

 /* =================
      #Global Style
    ================= */

* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

 /* =================
        #Layout
    ================= */


    